body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

form{
  display: block;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
  

}
form > h2 {
  margin-left: 6rem;
}
label{
margin: 1rem;
}
input, select, textarea{
  padding: 0.5rem;
  min-width: 20rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

ul {
  list-style-type: none;
}

main{
  padding: 1rem;
}

.services{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.service{
  border: 1px #404040 solid;
  margin: 1rem;
}

.service img{
  width: 100%;
  max-width: 400px;
  padding: 1rem;
}

.service-info{
  padding: 1rem;
}
p{
  width: 100%;
  max-width: 400px;
}
h1{
  text-align: center;
}
